.calendar-section {
    margin: 20px 0;
}

.calendar-section-header {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--purple-hover);
    text-align: center;
}

.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calendar {
    width: 90%;
    height: 500px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: var(--white);
}

.calendar-leads {
    height: 436px !important;
}

.calendar-header {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    font-size: 20px;
}

.calendar-body {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-top: 1px solid var(--grey);
}

.calendar-day {
    border-right: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calendar-day:nth-child(7n) {
    border-right: none;
}

.day-number {
    font-size: 1.5rem;
    font-weight: 900;
}

.day-notes {
    font-size: 0.8rem;
    color: var(--grey);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.day-notes a{
    text-decoration: none;
    color: var(--purple-hover);
}
.show-more a{
    cursor: pointer;
    color: var(--purple);
    margin-top: 5px;
    font-size: 0.8rem;
}

.calendar-text {
    font-size: 1rem;
    font-weight: 700;
}

.actived {
    background-color: var(--purple) !important;
}
.actived a{
    color: var(--white);
}