.inbound-call {}

.search-box {
    display: flex;
    margin-bottom: 3rem;

}

.search-box input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.8rem 1rem;
}

.search-btn {
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.3rem 0.5rem;
    background-color: var(--purple);
}

.search-btn:hover {
    background-color: var(--purple-hover);
    cursor: pointer;
}

.search-btn ion-icon {

    color: var(--white);
    font-size: 2rem;
}

/* TABLE */
.inbound-call-table {
    border: 2px solid #00000033;
    border-radius: 0.6rem;
    min-width: 100%;
}

.table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.table-heading-row {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--purple);
}

.table-data-row {
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--white);
}

.table-data-alt-row {
    /* border-radius: 0 0 0.5rem 0.5rem; */
    background-color: #d6d6d6;
}

.table-row th h6 {
    color: var(--white);
}

.inbound-call-table td,
th {
    text-align: center;
    width: 100%;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.pagination-menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.pagination-nav {
    font-size: 1rem;
    color: var(--purple);
}

.pagination-nav:hover {
    cursor: pointer;
    color: var(--purple-hover);
}

.pagination-pages {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    padding: 0.3rem;
    border-radius: 3px;
    background-color: var(--purple-light);
}

.active-page {
    color: var(--white);
    background-color: var(--purple);
}

/* OUTBOUND CALL */
.urgent {
    color: red;
}

.high {
    color: purple;
}

.mid {
    color: rgb(233, 126, 4);
}

.low {
    color: green;
}


/* SECTION - PATIENT DETAILS  */
/* Navigation Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
    padding: 1rem 0;
    border-radius: 5px;
    flex-wrap: wrap;
}

.nav-menu li {
    list-style: none;
    /* flex-basis: 140px;
    flex-shrink: 1; */
}

.nav-menu li a {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    transition: all 3ms ease-in-out;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    font-weight: 600;
    color: var(--purple);
    box-shadow: inset 1px var(--white);
    background-color: var(--white);
}

.active-nav-bar a {
    font-weight: 600;
    color: var(--purple) !important;
    box-shadow: inset 1px var(--white);
    background-color: var(--white);
}

@media screen and (max-width:1150px) and (min-width:500px) {
    .nav-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /* gap: 1.2rem; */
        column-gap: 1rem;
        row-gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu li a {
        padding: 0.9rem;
        border-radius: 5px;
        text-decoration: none;
        font-size: 0.8rem;
        color: var(--white);
        transition: all 3ms ease-in-out;
    }

    .nav-menu .last-child {
        align-self: center;
        text-align: center;
        /* background-color: white; */
    }
}


/* TABLE - PATIENT DETAILS */
.top-border-rad-6 {
    border-radius: 0.6rem 0 0 0;
}

.bot-border-rad-6 {
    border-radius: 0 0 0 0.6rem;
}

.border-bot-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.316);
}

.patient-details-table-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

}

.patient-details-heading,
.patient-details-data {
    font-size: 1rem;
}

.patient-details-heading {
    width: 12rem;
    text-align: left;
    padding: 1rem;
    color: var(--white);
    background-color: var(--purple);
}

.patient-details-heading-alt {
    border-radius: 0 0.6rem 0 0;
}

.patient-details-table {
    border: 2px solid #00000033;
    border-radius: 0.6rem;
    min-width: 100%;
}


.phbl {
    margin-left: 35rem;
}

.focused-color {
    background-color: var(--purple-hover);
    padding: 5px;
    border-radius: 5px;
}

.font-small {
    font-size: 0.6rem;
}

@media screen and (max-width:1150px) and (min-width:500px) {
    .phbl {
        margin-left: 19rem;
    }
}

/* Footer */

.footer-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
}

.form-input-sum {
    grid-row: span 2;
}

/* .form-input-phone{
    flex-shrink: 0;
} */
.form-input-sum input {
    height: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--purple);
}

.form-input-field {
    background-color: var(--white);
    border: 1px solid #00000033;
    padding: 1rem;
    border-radius: 0.6rem;

}

.btn-save-info {
    grid-column: span 2;
    justify-self: center;
    min-width: 50;
    max-width: 60%;
}

/* ========= CALLER LOG ======== */

.patient-info-overview {
    display: flex;
    justify-content: space-around;
    color: var(--white);
    background-color: var(--grey);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

/* ============= TICKET ============ */
.ticket-dropdown {
    font-size: 1rem;
    border: none;
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem 1.5rem;
    border-radius: 0.6rem;

}

.ticket-type-lable {
    font-size: 1rem;
    color: var(--purple);
    margin-bottom: 0.5rem;
}

select {
    display: inline;
}

/* for IE10 */
.dropdown-container select::-ms-expand {
    display: none;
}

select.ticket-dropdown {
    display: inline !important;
    margin: 0;
}

.ticket-dropdown select::after {
    padding: 0 1rem;
}


/* APPOINTMENT */
.appointment-form-body {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.appointment-department-selecion,
.interaction-department-selecion,
.doctor-selecion,
.slot-selection,
.med-available-quantity,
.appointment-remarks {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
}

.appointment-department-selecion select,
.interaction-department-selecion select,
.doctor-selecion select {
    background-color: #00000000;
    height: 3rem;
    border: 1px #00000033 solid;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 100%;
}

.appointment-form-body label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--purple);
}

.slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.appointment-remarks input {
    background-color: #00000000;
    height: 10rem;
    border: 1px #00000033 solid;
    padding: 1rem;
    padding-bottom: 8rem;
    border-radius: 0.6rem;
}

@media screen and (max-width:1150px) and (min-width:500px) {
    .slots {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* LABORATORY */
.notification-alert {
    padding: 1rem;
    background-color: var(--yellow);
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}

.notification-checkbox-container {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.notification-checkbox-container div label {
    font-size: 1rem;
    font-weight: 600;
}

.notification-headline {
    font-weight: 600;
    color: var(--purple);
}

/* Medicine */
.med-available-quantity input {
    background-color: #00000000;
    height: 100%;
    border: 1px #00000033 solid;
    padding: 1rem;
    /* padding-bottom: 8rem; */
    border-radius: 0.6rem;
}

.align-self-base {
    align-self: flex-end;
}

.medicinelist {
    grid-column: span 2;
}

.med-list-items-total tr td {
    align-self: flex-end;
    font-size: 1rem;
    text-align: right;
}

.total-amount {
    color: var(--purple);
    font-weight: bold;
}

/* Medicine Form */
.col-span-2 {
    grid-column: span 2;
}

.complain-dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.complain-dropdown {
    width: 20rem;
}

@media screen and (max-width:1150px) and (min-width:500px) {
    .complain-dropdown {
        width: 10rem;
    }
}

/* SERVICE */
/* APPOINTMENT */
.nps-feedback {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 10rem;
    /* align-self: center; */
}

.feedback-number {
    padding: 1rem;
    border: 1px solid #00000033;
    border-radius: 0.6rem;
    height: 100%;
    display: flex;
}

.feedback-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.feedback-label {
    font-weight: bold;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.radio-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    cursor: pointer;
}

input[type="radio"]+label::before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    margin-bottom: 5px;
}

input[type="radio"]:checked+label::before {
    background-color: var(--purple);
}

/* ALIGN SELF FOR DROPDOWN */
.align-self-start {
    align-self: flex-start;
}

/* TICKET Action table */
.ticket-action-table {
    width: 100%;
    justify-content: space-between;
}

.ticket-actio2-table tr th {
    margin: 0 3rem;
    text-align: left;
}

.ticket-action-status select {
    background-color: #00000000;
    border: none;
    font-size: 1rem;
}

.text-align-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
    max-width: 110px;
    text-align: center;
}

.flex-wrap-p {
    flex-wrap: wrap;
    max-width: 150px;
    text-align: right;
}

.submit-button {
    align-self: flex-end;
}

.flex-align-l {
    align-self: flex-start;
    text-align: left;
}

.neg-margin-l {
    margin-left: -45px;
}


/* COVID QUESTIONARIES */
.questions {
    grid-column: span 2;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--grey);
    padding: 1.5rem;
    border-radius: 0.6rem;
    box-shadow: inset #000;
    margin-bottom: 1.4rem;
}

.service-radiobutton,
.answers {
    text-decoration: none !important;
}

.service-radiobutton input[type="radio"],
.answers input[type="radio"] {
    display: none;
}

.service-radiobutton label::before,
.answers label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #800080;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.service-radiobutton input[type="radio"]:checked+label:before,
.answers input[type="radio"]:checked+label:before {
    background-color: #800080;
}

.service-radiobutton label:hover:before,
.answers label:hover:before {
    background-color: #dcdcdc;
}

.service-radiobutton input[type="radio"]+label,
.answers input[type="radio"]+label {
    cursor: pointer;
}

/* TICKET ACTION SECTION */
.ticket-action-p {
    color: black;
    font-weight: 500;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.bg-gray {
    background-color: #000000c9;
}


/* SELECT 2 */
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: 3.2rem !important;
    font-size: 0.8rem !important;
    background-color: #ffffff00 !important;
    border-radius: 0.6rem !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--purple) !important;
}

.select2-search--dropdown .select2-search__field {
    padding: 0.7rem !important;
}

.nps-green {
    background-color: green;
    padding: 0.5rem 0.8rem;
    margin: 0 1rem;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
}

.nps-red {
    background-color: red;
    padding: 0.5rem 0.8rem;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
}

.slots-bg {
    background-color: rgba(32, 32, 32, 0.075);
    padding: 1rem;
    border-radius: 6px;
}

.med-total-price {
    text-align: center;
    padding: 1rem;
    color: var(--purple);
    font-weight: 700;
}

.btn-add-medicine {
    align-self: baseline;
}